html, body 
{
	height: 100%;
	margin:0px;
	padding:0px;
}

body 
{
    color: #2d2d2d;
    font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

#container 
{
    min-height: 250px;
    width: 100%;
    margin: auto;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	background-color:#e5e5e5;
}

a, h1
{
	color:#2d2d2d;
}

h1
{
	font-family:Changa, Verdana, sans-serif;
}

h1, h2, h3
{
	text-align:center;
}

time
{
	font-style:italic;
	text-align:center;
}

/* 
==========================
Fonts
==========================
*/

@font-face
{
	font-family:'Birds';
	src:url('fonts/Birds.ttf') format('truetype'),
		url('fonts/Birds.svg') format('svg');
}

@font-face
{
	font-family:'Changa';
	src:url('fonts/changa.woff') format('woff'),
		url('fonts/Changa.svg') format('svg');
}

@font-face
{
	font-family:'Courgette';
	src:url('fonts/courgette.woff') format('woff'),
		url('fonts/courgette.svg') format('svg');
}

/* 
==========================
Header & Connexion
==========================
*/

#main
{
	height:70px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	background-color:#FFFDFF;
	margin-bottom:40px;
	line-height:100%;
	box-shadow: 0px 3px 4px 0px rgba(193,221,245,0.8);
}

header a
{
	text-decoration:none;
}

#brand
{
	display:flex;
	flex-direction:row;
	justify-content:flex-start;
	align-items:center;
	height:100%;
}

#logo
{
	width:60px;
	height:60px;
	margin-right:20px;
}

#blogTitle
{
	font-size:2em;
	font-family:Courgette, Arial-Black, serif;
}

#login
{
	width:380px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
}

#login input[type=text], input[type=password], input[type=text]
{
	height:30px;
	width:30%;
	line-height:30px;
	padding-left:10px;
	border:0px;
	border-radius:3px;
	color:black;
	background-color:#e5e5e5;
	margin-left: 1px;
}


.button-connexion 
{
	background-color:#424242;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:#fffdff;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:10px 20px;
}
.button-connexion:hover 
{
	background-color:#666666;
}
.button-connexion:active 
{
	position:relative;
	top:1px;
}

#loginlogo
{
	padding:10px 15px;
	display:none;
}


/* 
==========================
Containers
==========================
*/


#wrapper-admin
{
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	width:90%;
	background-color:#e5e5e5;
}

#wrapper-home
{
	margin:auto;
	width:70%;
	background-color:#f6f6f6;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

#wrapper-logs
{
	margin:auto;
	width:70%;
	background-color:#f6f6f6;
	display:flex;
	flex-direction:row;
	justify-content:center;	
}


#status
{
	width:400px;
	margin:auto;
	background-color:#FFFDFF;
	text-align:center;
	line-height:45px;
	margin-bottom:495px; /*40px*/
}

/* 
==========================
Posts & Comments
==========================
*/

.wrapper
{
	padding: 20px 20px 20px;
}

.wrapperlogs
{
	padding: 20px 20px 10px;
}


#commentform
{
	width:70%;
	margin:auto;
	justify-content:space-between;
}

.commentTitle 
{
    font-size : 1.5em;
	line-height:50px;
	text-align:center;
	background-color:#e2f1ff;
}

.form-bloc
{
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.submit
{
	width:100px;
	margin:auto;
}

#commentform input[type=text]
{
	width:70%;
}

#commentformcontent 
{
	margin-top:10px;
    width: 95%;
}

.box
{
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
}

.boxadmin
{
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
	margin-bottom: 0.83em;
}

.boxsort
{
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
	margin-bottom: 0.83em;
}

.billet
{
	padding:10px 20px 30px;
	background-color:#FFFFFF;
}

.billet header
{
	text-align:center;
}

.timeinfo
{
	padding:10px 0px;
	text-align:center;
}

.comment
{
	margin:25px 0px;
	padding:20px 20px;
	background-color:#FFFFFF;
}

.commentInfo
{
	position:relative;
	height:35px;
	line-height:35px;
}

.signaler
{
	position:absolute;
	height:35px;
	right:0%;
	bottom:0%;
}

.signalinfo
{
	font-size:0.75em;
}

.signaler button
{
	border:0px;
	background-color:transparent;
	cursor:pointer;
}


.fa-exclamation-circle
{
	font-size:1.8em;
	color:#f69494;
}

.fa-exclamation-circle:hover
{
	font-size:1.8em;
	color:#fd5656;
}

.signaler button
{
	border:0px;
	background-color:transparent;
	cursor:pointer;
}


/* Logs */

#titlewrapper
{
	width:70%;
	margin:auto;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	background-color:#F6F6F6;
}

#titlewrapper h2
{
	width:50%;
}

#editwrapper
{
	width:50%;
	max-height:770px;
	overflow:auto;
}

#deletewrapper
{
	width:50%;
	max-height:770px;
	overflow:auto;
}

.newcomment
{
	width:100%;
	padding:5px;
	-webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.3);
}

.newcomstatus
{
	text-align:center;
	font-size:1.2em;
}



/* 
==========================
Administration & Moderation
==========================
*/

#admin
{
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	padding: 20px 20px;
	width:45%;
	max-width:900px;
	height:100%;
	overflow:auto;
	background-color:#f6f6f6;
	box-shadow: -2px 3px 3px 0px rgba(193,221,245,0.8);
}

#moderation h1, #admin h1, .wrapperlogs h1
{
	font-family:Changa, Verdana, sans-serif;
}

#moderation a, #admin a
{
	text-decoration:none;
}

#billet-wrapper
{
	margin-top:10px;
	height:85%;
	display:flex;
	flex-direction:column;
}

#moderation
{
	height:100%;
	width:45%;
	max-width:900px;
	padding: 20px 20px;
	background-color:#f6f6f6;
	box-shadow: 2px 3px 3px 0px rgba(193,221,245,0.8);
}

.moderationstatus
{
	font-size: 1.3em;
	display:inline-block;
}

.modComInfo
{
	line-height:40px;
	position:relative;
}

.modComInfo p
{
	margin:0px;
}

.editcom
{
	width:100%;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}

.editstatus
{
	text-align:center;
}

.adminbillet
{
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	margin-bottom:30px;
	padding-left:20px;
	background-color:#FFFFFF;
	-webkit-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.62);
	-moz-box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.62);
	box-shadow: 0px 3px 2px 0px rgba(0,0,0,0.62);
}


.buttonAdmin
{
	width:20%;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

.editform
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	padding:20px 20px;
}

.editform textarea
{
	padding:5px;
	-webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.5);
	box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.5);
}


.modbutton
{
	margin:25px 20px;
	height:30px;
	width:150px;
}

.buttonRow
{
	display:flex;
	justify-content:space-around;
	position:relative;
	text-decoration:none;
	padding:20px 0px;
}

.buttonRow hr
{
	position:absolute;
	left:50%;
	top:0px;
	margin:0px;
	height:100%;
}

.button
{
	background-color:#ebebeb;
	border-radius:6px;
	border:1px solid #bfbfbf;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size: 1em;
	font-weight:bold;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:0px -1px 0px #e0dfeb;
}

.button:hover
{
	background-color: #bdbcbc;
	color: #000000;
}

.postTitle
{
	font-size:1.8em;
    margin-bottom : 0px;
	font-family:Courgette;
}


/* 
==========================
Logos, Icons
==========================
*/

.fa-sign-in-alt
{
	font-size:1.2em;
}


.fa-sort-alpha-down
{
	font-size:2em;
	color:#92BCF6;
}


.fa-sort-up
{
	font-size:2em;
	color:#92BCF6;
}

.fa-comments
{
	font-size:2em;
	color:#92BCF6;
	margin:auto;
}

.fa-plus-circle
{
	font-size:2em;
	margin:10px;
	color:#92BCF6;
}

.fa-exclamation-triangle
{
	font-size:2em;
	margin:10px;
	color:#ff3939;
}

.orange
{
	color:#f9a133;
}

.fa-check-circle
{
	font-size:2em;
	margin:10px;
	color:#36e14a;
}

.fa-history
{
	font-size:2em;
	margin:10px;
	color:#92BCF6;
}


.fa-trash
{
	color:#424242;
	font-size:1.5em;
	margin:auto;
}

.fa-times-circle
{
	font-size:2em;
	color:#f0baba;
	text-decoration:none;
}

.fa-times-circle:hover
{
	font-size:2em;
	color:#fd5656;
}

.fa-pen-square
{
	color:#424242;
	font-size:1.5em;
	margin:auto;
	text-decoration:none;
}

.crosscom
{
	position:absolute;
	top:10px;
	left:92%;
}


/* 
==========================
Footer
==========================
*/

footer
{
	height:60px;
	width:100%;
	margin-top:100px; 
	line-height:60px;
	text-align: center;
	background-color:#FFFDFF;
	
}


/* 
==========================
Media Queries 
==========================
*/

/* Desktop displays */
@media screen and (min-width:1500px)
{
	footer
	{
		margin-top:1400px; 
	}
}

@media screen and (max-width: 1300px)
{

#login
{
	width:275px;
}

#login input[type=text], input[type=password]
{
	width:40%;
}

#logintext
{
	display:none;
}

#loginlogo
{
	display:inline-block;
}


#wrapper-admin
{
	width:100%;
}

.moderationstatus
{
	font-size:1.3em;
}

.adminicon, .crosscom
{
	font-size:1.5em;
}

.editform
{
	flex-direction:column;
}

.form-bloc
{
	width:50%;
}


}

@media screen and (max-width: 992px)
{

#wrapper-admin
{
	display:flex;
	flex-direction:column;
}

#admin
{
	margin:auto;
	width:60%;
}

#moderation
{
	margin:auto;
	width:60%;
}
	
.editform
{
	padding:0px 0px;
}

	
}

/* Tablets / Large phones */
@media screen and (max-width: 768px)
{

#container
{
	background-color:#F6F6F6;
}

.postTitle 
{
    font-size:1.5em;
}

.commentTitle 
{
    font-size:1.2em;
	line-height:40px;
}

.wrapper .box {
    box-shadow: none;
}

#admin
{
	width:90%;
	padding-top:0px;
}

#moderation
{
	width:80%;
	padding-top:0px;
}


#wrapper-home
{
	width:100%;
}

#wrapper-logs
{
	width:100%;
}

header
{
	height: 50px;
	margin-bottom:19px;
}

#logo
{
	height:40px;
	width:40px;
	margin-right:10px;
}

#blogTitle
{
	font-size:1.5em;
}


#loginlogo
{
	padding:7px;
}

#login input[type=text], input[type=password]
{
	height:20px;
	width:80px;
	line-height:20px;
	padding-left:0px;
	border:0px;
	border-radius:3px;
	color:black;
	background-color:#e5e5e5;
}

#status
{
	width: auto;
}

}

/* Small devices */
@media screen and (max-width: 600px)
{
	
h3
{
	font-size:0.8em;
}

header
{
	height: 40px;
	margin-bottom:78px;
	justify-content:space-between;
}

.postTitle 
{
    font-size: 1.3em;
}

.commentTitle 
{
    font-size: 1em;  
}

.button-connexion
{
	font-size:12px;
	padding:5px 7px;
}

.buttonRow {
    display: flex;
    text-decoration: none;
    padding: 20px 0px;
}

.button {
    border-radius: 21px;
    display: inline-block;
    padding: 8px 4px 7px;
}

.wrapper
{
	padding: 10px 0px 10px;
}

#admin
{
	width:100%;
	padding:0px;
}

#moderation
{
	width:100%;
	padding:0px;
}

.moderationstatus
{
	font-size:1em;
}

.comment
{
	padding:10px 5px;
	width:100%;
}

.commentInfo
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	height:100%;
	line-height:35px;
}

.signaler
{
	position:static;
	height:100%;
}

#wrapper-logs
{
	display:flex;
	flex-direction:column;
	align-items:center;
}

#titlewrapper
{
	display:none;
}

#editwrapper, #deletewrapper
{
	width:100%;
	max-height:100%;
}

#logo
{
	height:35px;
	width:35px;
	margin-right:10px;
}

#blogTitle
{
	font-size:1em;
}

#status
{
	width: auto;
}

footer
{
	height:20px;
	line-height:20px;
}

}


